body{
	/*background-color: pink;*/
}

.tabContainer{
	margin: 1% 5% 2% 3%;
  padding: 4% 0;
}

#container{
	padding: 2%;
}
#logo {
	width: 150px;
	margin-left: 50px;
}

#headerText {
    color: white;
}